.infocontato__contacto{
    height: 600px;
}

.infocontato__title{
    padding: 50px;
    text-align: center;
    font-size:70px;
    color: #1E499E;
}

.infocontato__text{
    font-family: 'Belanosima', sans-serif;  
    margin: 0 100px 0 100px;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.infocontato__subtext{
    padding: 10px;
    font-size: 30px;
    color:#1E499E;
    
}

.infocontato__red{
    color: #1E499E;
    font-size: 30px;
    padding: 10px;  
    font-weight: bold; 
}

.infocontato__red:hover{
    font-size: 33px;
    text-decoration:underline;
    color: #9E720E;
}
