.experience{
    font-family: 'Belanosima', sans-serif;  
    margin-left: 100px;
    margin-right: 100px; 
}

.experience__section__title{
    margin: 50px 50px 40px 0px;
    text-align: center;
    font-size:70px ;
    color: #1E499E;
}

.experience__line{
    display: flex;
    margin: 0 100px 0 100px;
    justify-content: space-between;
}

.experiencie__box{
    width: 320px;
    height: 400px;
    padding: 10px;
    text-align: center;
    border-radius: 1pc;
    border: 2px solid #6397FF;
    color: #1E499E;
    text-align: center;
}

.experience__img{
    width: 240px;
    height: 200px; 
    margin: 20px; 
    border-radius: 1pc;
}

.experience__info-container{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.experience__title{
    height: 60px;
    font-size: 20px;
    
}

.experience__text{
    font-size: 20px;
    margin: 10px;
}

.experiencia__botao--repo{
    width: 120px;
    height: 40px;
    border: 2px solid #6397FF;
    border-radius: 2pc;
    background-color: #EBB744;
    text-align: center;
    color: #1E499E;
    font-size: 20px;
}